
/*Definição das Variáveis do CSS*/
:root {
   
    /* Cores das Fontes (texto) */
    --cor-fonte-padrao: #000000;
    --cor-fonte-nav: #FFFFFF;
    --cor-fonte-by: orange;
    --cor-fonte-button-hover: yellow;

    /* Fontes da Página */
   
    /* Cores de Efeito */
    --cor-sombra: #C0C0C0;
    --cor-sombra-hover: #191970;
    --cor-button-hover: #191970;
    --cor-placeholder-effect: #191970;
}

* {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--lato-cursiva);
    color: var(--cor-fonte-padrao);
    background-color: var(--background-page);
    
}

main{
    width: 80vw;
    margin: 0 auto;
    padding-top: 90px;
    
}

p{
    text-indent: 15px;
    margin-bottom: 1.5rem;
    font-size: 1.10rem;
}

h1,
h2,
h3,
a {
    letter-spacing: 3px;
    font-weight: 800;
}

h2,
h3{
    text-align: center;
}

h1{
    text-align: center;
    padding-top: 2.25rem;
    padding-bottom:  2.25rem;
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

a {
    /* Elimina o sublinhado do link */
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

a:hover {
    /* Insere uma sombra no texto */
    text-shadow: 0 0 5px ;
    font-size: 22px;
}

header {
    
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF ;
}

nav{
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    width: 100;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
   
}

nav a,
.titulo {

    letter-spacing: 1px;
    font-weight: 900;
}

.img-logo img{
    margin-left: 15px;
    margin-top: 10px;
    width: 80px;
    height: 60px;
}

.titulo {
    font-size: 2rem;
}

ul {
    margin: 8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sobre{
    margin-bottom: 15px;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    background-color: var(--background-sobre);
    border-radius: 1rem;
    text-align: justify; 
    max-width: 700px ;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.texto_sobre{
    margin: 1.75rem;
}

.apresentacao{
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    border-radius: 1rem;
}

.imagens-sobre{
    max-width: 100%;
    justify-content: center;
}

.foto {
    width: 230px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 7.9);
}

.apresentacao-sobre{
    display: inline-block;

}

.apresentacao .apresentacao-sobre h2{
    margin-top: 15px;
}

#video {
    display: flex;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 7.9);
    border-radius: 20px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 15px 15px 15px 0;
}

.video h3{
    width:20px ;
}

.meu-video{
    max-width: 90%; 
}

footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 36);
}
.redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    cursor: pointer;
}

.icons {
    width: 3.25rem;
    padding: 0 0.5rem;
}

.icons:hover{
    padding-left: 2px;
    width: 3.35rem;
}


.by {
    display: flex;
    padding-top: 0.75rem;
    font-size: 1.25rem;
    color: var(--cor-fonte-by);
}

hr {
    margin: 1.25rem;
}


#contato {
    width: 80vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 2.5rem;
}

#formulario_mensagem {
    width: 60vw;
}

#formulario_buscacep {
    width: 40vw;
}

label {
    font-family: var(--lato-roboto);
    font-size: 1.15rem;
    margin-left: 1rem;
    font-weight: 500;
}

input,
textarea,
button {
    font-family: var(--lato-cursiva);
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
}

input,
textarea {
    border: 1px solid orange;
}

input::placeholder,
textarea::placeholder {
    color: var(--cor-placeholder-effect);
}

input:focus,
textarea:focus {

    outline: 1px solid orangered; 
}


button {
    
    background-color: var(--background-nav);
    color: var(--cor-fonte-nav);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--cor-button-hover)
}

button:hover {
    background-color: var(--cor-button-hover);
    color: var(--cor-fonte-button-hover);
}

.campos-form {
    margin-bottom: 1rem;
}

#txtNome,
#txtEmail,
#txtMensagem,
#txtCep {
    font-size: 1rem;
    padding: 0.25rem 0;
}